.form-font {
	font-size: small;
}

.CodeMirror {
  border: 0px solid #eee;
  height: auto;
  min-height: 400px;
  font-size: small;
  line-height: inherit;
}

pre { display: block; padding: 0.5em; color: #333; background: #f8f8ff; border: 1px solid #ccc; border-radius: 4px; }